body
    #react-container
    //div(class='container-fluid')
    //    include navbar
    //
    //    include clockHolder
    //
    //div(class='clock_options')
    //    span(class='glyphicon glyphicon-option-horizontal')
    //        select(id='click_options_select')
    //            option(value='classic') classic
    //            option(value='modern') modern
    //            option(value='chunkySwiss') chunkySwiss