nav(class='navbar navbar-default')
    div(class='container-fluid')
        div(class='navbar-header')
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar',
            aria-expanded='false', aria-controls='navbar')
                span(class='sr-only') Toggle Navigation
                - for (var i = 0; i < 3; i++) {
                span(class='icon-bar')
                - }
            a(class='navbar-brand', href='#') Project Name
        div(id='navbar', class='navbar-collapse collapse')
            ul(class='nav navbar-nav')
                each item in ['Home', 'About', 'Contact']
                    li(class='active')
                        a(href='#')= item

                li(class='dropdown')
                    a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true',
                    aria-expanded='false') Dropdown
                        span(class='caret')
                    ul(class='dropdown-menu')
                        - for (var i = 0; i < 3; i++) {
                        li
                            a(href='#')= i
                        - }