body {
  background: red;
}
body .clock-element {
  display: inline-flex;
  width: 30%;
}
body .wc-view {
  padding-top: 25px;
}
body .wc-view .clock-container {
  width: 200px;
  display: inline-block;
}
.toolbar-icon {
  margin-right: 5px;
}
