body {
    background: red;

    .btn-toolbar {

    }

    .clock-element {
        display: inline-flex;
        width: 30%;
    }

    .wc-view {
        padding-top: 25px;

        .clock-container {
            width: 200px;
            display: inline-block;
        }
    }
}

.toolbar-icon {
    margin-right: 5px;
}

